@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&family=Ubuntu:wght@300;400;500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /*font-family: 'Rubik', sans-serif;*/
  font-family: "Ubuntu", sans-serif;
}

body {
  font-size: 1.6rem;
  line-height: 1.3;
  background: #000;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Header / Topbar section*/

header {
  width: 100%;
  height: 9rem;
  max-height: 10rem;
  background-color: #000;
}

.topbar-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem 6%;
  justify-content: space-between;
  align-items: center;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-wrapper .logo {
  width: 13rem;
  transition: opacity 0.3s ease-in-out;
}

.logo-wrapper .logo:hover {
  opacity: 0.9;
}

.logo-wrapper .helpcenter-link {
  display: inline-block;
  font-size: 2.4rem;
  margin-left: 1.3rem;
  padding-left: 1.3rem;
  border-left: 2px solid #fff;
  line-height: 3rem;
  transition: text-decoration 0.3s;
}
.logo-wrapper .helpcenter-link:hover {
  text-decoration: underline;
  transition: text-decoration 0.3s;
}

.topbar-request {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbar-request .request-btn,
.topbar-request .signin-btn {
  font-size: 2.4rem;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.topbar-request .request-btn {
  padding: 0.9rem 2.3rem;
  background: #222;
  border: 1px solid #fff;
  transition: background 0.3s ease-in-out;
}

.topbar-request .request-btn:hover {
  background: #333;
}

.topbar-request .signin-btn {
  background: #4c5fd5;
  padding: 1rem 2.6rem;
  margin-left: 1.5rem;
  transition: background 0.5s ease-in-out;
  border: none;
}

.topbar-request .signin-btn:hover {
  background: #fff;
  color: #222;
}

/* Search Section */
.search-wrapper {
  width: 100%;
  height: 45rem;
  background: #dadbf1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-inner {
  width: 100%;
  position: relative;
}

.search-inner h2 {
  font-size: 7rem;
  font-weight: 400;
}

.search-inner .search-form {
  max-width: 80rem;
  min-width: 50rem;
  height: 9.8rem;
  padding: 2rem 2rem;
  margin: 0 auto;
}

.input-container {
  width: 100%;
  position: relative;
}

.search-inner .search-form #query {
  display: block;
  width: 100%;
  padding: 1.2rem 1rem;
  font-size: 2rem;
  border-radius: 4px;
  border: 1px solid #333;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 0.1);
  position: relative;
}

.search-inner .search-form i {
  position: absolute;
  right: 15px;
  bottom: 3px;
  transform: translateY(-50%);
  font-size: 2rem;
  z-index: 5;
}

.search-inner .search-form i:hover {
  color: #484fd4;
}

.search-inner .search-form #query:focus,
.search-inner .search-form #query:hover {
  border-color: #484fd4;
}

.search-inner .search-form #query:hover + i {
  color: #484fd4;
}

/* Services Section */

.services-fullwrapper {
  background: #fff;
  width: 100%;
  min-height: 100vh;
  padding: 10rem;
}

.services-cards {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  width: 50%;
  height: 27rem;
  min-height: 18rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.card .card-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 9rem;
  max-height: 10rem;
}

.card .card-img img {
  width: 100%;
  height: 100%;
}

.card-texts {
  width: 60%;
  max-height: 10rem;
  margin-left: 2rem;
  padding-right: 1rem;
}

.card-texts .card-heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.card-texts .card-text {
  font-size: 2rem;
  padding: 1rem 0;
}

.card-texts .card-link {
  color: #484fd4;
}

/* Footer */

footer {
  color: #fff;
  padding-bottom: 9rem;
  background: #000;
  position: relative;
}

.footer-wrapper {
  width: 88%;
  margin: 0 auto;
  padding-bottom: 10rem;
  position: relative;
}

.footer-wrapper .footer-links {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin-top: 2rem;
  padding: 0 1rem;
}

.footer-links .footer-heading {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.footer-links ul {
  list-style: none;
}

.footer-links ul li a {
  display: block;
  font-size: 1.6rem;
  margin: 0.5rem 0;
  font-weight: 500;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}

.footer-links strong {
  display: block;
  margin-top: 4rem;
  font-size: 1.7rem;
}

.footer-links .email {
  display: block;
  margin-top: 0.4rem;
}

.footer-links .email:hover {
  text-decoration: underline;
}

.footer-copyright {
  position: absolute;
  right: 1.7rem;
  bottom: 0;
}

.footer-copyright p {
  font-size: 2rem;
  line-height: 1.5;
}

.footer-copyright .abstract-logo-footer {
  width: 13rem;
}
